@import "common";

#challenge-21 {
}
#challenge-22 {
}
#challenge-23 {
}
#challenge-24 {
}
#challenge-25 {
  .center {
    //   #1B7AC7
    width: 100%;
    height: 100%;
    background-color: #1b7ac7;
  }
  svg {
    fill: #1f8de4;
    position: absolute;
    z-index: -1;
  }
  .interactive-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .marker {
      i {
        font-size: 5rem;
        color: yellow;
        @include transition(all 0.5s ease);
        @include animation(marker 1.5s ease infinite);
        cursor: pointer;
      }
    }
    .shadow {
      width: 20px;
      height: 4px;
      background-color: #1b7ac7;
      @include border-radius(50%);
      @include animation(markerShadow 1.5s ease infinite);
    }

    .card {
      width: 80%;
      height: 70%;
      background-color: #fff;
      position: absolute;
      display: flex;
      flex-direction: column;
      @include border-radius(10px);
      @include transform(perspective(400px) rotateY(90deg));
      @include transition(all 0.5s ease);
      opacity: 0;
      pointer-events: none;

      &.active {
        @include transform(perspective(400px) rotateY(0deg));
        @include transition(all 0.5s ease);
        opacity: 1;
        pointer-events: all;
      }
      .card-header {
        width: 100%;
        height: 100px;
        background-color: red;
        background-image: url("https://picsum.photos/seed/picsum/400/100");
        @include border-radius(10px 10px 0 0);
      }
      .card-info {
        text-align: center;
        padding-top: 30px;
        p {
          padding: 5px 0;
        }
        span {
          font-weight: bold;
        }
      }
      .card-footer {
        position: absolute;
        bottom: 15px;
        width: 100%;
        display: flex;
        justify-content: space-around;

        a,
        span {
          text-decoration: none;
          color: #1b7ac7;
          cursor: pointer;
          &:hover {
            color: #1f8de4;
          }
        }
      }
    }
  }

  @keyframes marker {
    0% {
      @include transform(translateY(-15px));
    }
    50% {
      @include transform(translateY(0));
    }
    100% {
      @include transform(translateY(-15px));
    }
  }

  @keyframes markerShadow {
    0% {
      width: 25px;
    }
    50% {
      width: 20px;
    }
    100% {
      width: 25px;
    }
  }
}
#challenge-26 {
}
#challenge-27 {
}
#challenge-28 {
}
#challenge-29 {
}
#challenge-30 {
}
