@import "mixins";

@import url(https://fonts.googleapis.com/css?family=Courier+Prime:regular,italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

section {
  height: 50vh;
  position: relative;
  width: 100%;
}

/* ================
UNCOMMENT WHEN FINISHED TO MAKE GRID
==================*/
// .row {
//   display: flex;
//   flex-direction: row;
//   position: relative;
//   justify-content: center;
//   width: 80%;
//   margin-left: 10%;
// }

// use only the available space inside the 400x400 frame
.frame {
  @include absolute(50%, 0, 0, 50%);
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  @include border-radius(20px);
  overflow: hidden;
  background: #fff;
  color: #333;
  font-family: "Open Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
}

.center {
  @include centerer();
}

#challenge-1 {
  .frame {
    background-image: linear-gradient(to bottom left, #4ec6ca, #43389f);
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-family: "Courier Prime", sans-serif;
    font-weight: 700;
    line-height: 1;
  }
  .number {
    position: relative;
    display: flex;
    .one {
      background-color: #fff;
      height: 100px;
      width: 25px;
      box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.2);
      z-index: 5;
      position: relative;
      @include border-radius(5px);
      &:before {
        content: "";
        @include absolute($top: 0, $left: -15px);
        @include border-radius(5px);
        width: 100%;
        height: 50%;
        background-color: #fff;
        opacity: 0.8;
        @include transform(rotate(45deg));
      }
    }
    .zero {
      height: 100px;
      width: 100px;
      @include border-radius(50%);
      border: 25px solid #fff;
      margin-left: -5px;
      box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.2);

      &:nth-of-type(2) {
        margin-left: -5px;
        z-index: 3;
      }
    }
  }
  .days {
    font-size: 5rem;
    margin-bottom: 0;
  }
  .css {
    font-size: 1.5rem;
  }
}

#challenge-2 {
  .frame {
    background-color: #3faf82;
  }

  .bar {
    width: 100px;
    height: 10px;
    margin-bottom: 15px;
    background-color: #fff;
    @include border-radius(5px);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5);
    @include transition(all 0.5s ease-in out);

    &.bar-1,
    &.bar-2 {
      margin-bottom: 15px;
    }
  }

  .bar-container {
    position: relative;
    height: 60px; // 3x line height + 2x line space
    cursor: pointer;

    &.active {
      .bar-1 {
        animation: animate1 1s forwards;
        -webkit-animation: animate1 1s forwards;
      }
      .bar-2 {
        animation: animate2 1s forwards;
        -webkit-animation: animate2 1s forwards;
      }
      .bar-3 {
        animation: animate3 1s forwards;
        -webkit-animation: animate3 1s forwards;
      }
    }
  }
  @keyframes animate1 {
    0% {
      transform: translateY(0) rotate(0);
    }
    50% {
      transform: translateY(25px) rotate(0);
    }

    100% {
      transform: translateY(25px) rotate(45deg);
    }
  }
  @keyframes animate2 {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(0);
      opacity: 0;
    }
  }
  @keyframes animate3 {
    0% {
      transform: translateY(0) rotate(0);
    }
    50% {
      transform: translateY(-25px) rotate(0);
    }

    100% {
      transform: translateY(-25px) rotate(135deg);
    }
  }
}

#challenge-3 {
  .frame {
    background-color: #272c34;
  }
  .circle {
    width: 200px;
    height: 200px;
    @include border-radius(50%);
    background-color: #7ddffc;
    overflow: hidden;
    position: relative;
    .sun {
      position: absolute;
      top: 50px;
      left: -20px;
      width: 40px;
      height: 40px;
      background-color: yellow;
      @include border-radius(50%);
      @include animation(sun 4s infinite);
    }
    .sand {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 30%;
      background-color: #f0de75;
    }
    .pyramid-front {
      width: 0;
      height: 0;
      border-left: 60px solid transparent;
      border-right: 25px solid transparent;
      border-bottom: 60px solid rgb(255, 255, 255);
      position: absolute;
      bottom: 30%;
      left: calc(50% - 60px);
      z-index: 1;
    }
    .pyramid-back {
      width: 0;
      height: 0;
      border-left: 20px solid transparent;
      border-right: 60px solid transparent;
      border-bottom: 60px solid rgb(211, 211, 211);
      position: absolute;
      bottom: 30%;
      left: calc(50% - 20px);
      z-index: 0;
    }
    .shadow {
      width: 0;
      height: 0;
      border-left: 60px solid transparent;
      border-right: 60px solid transparent;
      border-top: 40px solid rgba(73, 73, 73, 0.549);
      position: absolute;
      bottom: 20px;
      left: calc(50% - 60px);
      z-index: 0;
    }
  }

  @keyframes sun {
  }
}

#challenge-4 {
  .frame {
    background-color: #e56262;
  }
  .circle {
    width: 100px;
    height: 100px;
    @include border-radius(50%);
    box-shadow: 0 5px 10px 0 rgba(185, 166, 166, 0.5);
    background: #fff;
    &.circle-main {
      position: relative;
      animation: circle 2s linear alternate infinite;
      -webkit-animation: circle 2s linear alternate infinite;
    }
    .circle-1 {
      @include absolute($top: 15px, $left: 15px);
      width: 70px;
      height: 70px;
      animation: circle-1 2s linear alternate infinite;
      -webkit-animation: circle-1 2s linear alternate infinite;
    }
    .circle-2 {
      @include absolute($top: 35px, $left: 35px);
      width: 30px;
      height: 30px;
      animation: circle-2 2s linear alternate infinite;
      -webkit-animation: circle-2 2s linear alternate infinite;
    }
  }

  @keyframes circle {
    0% {
      @include transform(scale(0));
    }
    100% {
      @include transform(scale(1));
    }
  }
  @keyframes circle-1 {
    0% {
      @include transform(scale(0));
    }
    33% {
      @include transform(scale(0));
    }
    100% {
      @include transform(scale(1));
    }
  }

  @keyframes circle-2 {
    0% {
      @include transform(scale(0));
    }
    66% {
      @include transform(scale(0));
    }
    100% {
      @include transform(scale(1));
    }
  }
}

#challenge-5 {
  .frame {
    background-color: #42a7a1;
  }
  .table {
    width: 300px;
    margin: 0 auto;
    height: 250px;
    background-color: #fff;
    color: #949494;
    .table-header {
      background-color: #f1ba64;
      height: 80px;
      flex-direction: row;
      @include flex-center();
      * {
        display: flex;
        flex-direction: column;
        width: 100%;
        span {
          color: #fff;
          font-weight: 600;
          text-transform: uppercase;
          &.small {
            font-size: 0.8rem;
            font-weight: 400;
            text-transform: capitalize;
          }
        }
      }
      .data-left {
        padding-left: 20px;
        text-align: left;
      }
      .data-right {
        text-align: right;
        padding-right: 20px;
      }
    }
    .table-content {
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .legend {
        height: 42px;
        display: flex;
        justify-content: end;
        align-items: center;
        font-size: 0.8rem;
        font-weight: 400;
        text-transform: capitalize;
        border-bottom: 1px solid #9494943f;
        .views,
        .purchases {
          padding-right: 5px;
          font-size: 0.7rem;
          span {
            display: inline-block;
            width: 15px;
            height: 3px;
            background-color: red;
            vertical-align: middle;
          }
        }
        .purchases {
          span {
            background-color: blue;
          }
        }
      }
      .statistics {
        height: 42px;
        border-bottom: 1px solid #9494943f;
      }
      .days {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 0.8rem;
      }
      .polyline {
        position: absolute;
      }
    }
  }
}

#challenge-6 {
  .frame {
    background-image: linear-gradient(to top right, #eebe6c 0%, #ca7c4e 100%);
    font-family: "Open Sans", sans-serif;
  }
  .card-container {
    width: 350px;
    height: 350px;
    @include border-radius(5px);
    @include centerer();
    overflow: hidden;
    background-color: #fff;
    display: flex;
    color: #786450;
    .left-section {
      width: 60%;
      flex-direction: column;
      padding: 0 20px;
      @include flex-center();
      .profile-image {
        width: 100px;
        position: relative;
        @include border-radius(50%);
        cursor: pointer;
        img {
          width: 100%;
          @include border-radius(50%);
        }
        &::after {
          content: "";
          @include absolute($top: -3px, $left: -3px);
          width: 106px;
          height: 106px;
          border: 1px solid;
          border-color: #786450 #786450 #786450 transparent;
          @include border-radius(50%);
          @include transform(rotate(0));
          @include transition(all 1s);
        }

        &::before {
          content: "";
          @include absolute($top: -6px, $left: -6px);
          width: 112px;
          height: 112px;
          border: 1px solid;
          border-color: #786450 transparent #786450 #786450;
          @include border-radius(50%);
          @include transform(rotate(0));
          @include transition(all 1s);
        }

        &:hover::after {
          @include transform(rotate(360deg));
        }
        &:hover::before {
          @include transform(rotate(-360deg));
        }
      }
      .profile-description {
        padding-top: 10px;
        margin-bottom: 30px;
        text-align: center;
        cursor: pointer;
        p {
          font-weight: 600;
          &.small {
            font-weight: 400;
            font-size: 0.8rem;
            text-transform: capitalize;
          }
        }
      }
      .btn {
        width: 100%;
        display: inline-block;
        color: #786450;
        border: 1px solid #786450;
        padding: 5px 0px;
        @include border-radius(30px);
        text-decoration: none;
        text-align: center;
        margin-bottom: 10px;
        font-weight: 500;
        @include transition(all 0.3s ease-in);

        &:hover {
          background-color: #786450;
          color: #fff;
        }
      }
    }
    .right-section {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      width: 40%;
      row-gap: 1px;
      .container {
        width: 100%;
        height: 100%;
        background-color: #f5e8df;
        flex-direction: column;
        @include flex-center();
        font-weight: 600;
        font-size: 1.2rem;
        .description {
          text-transform: capitalize;
          font-size: 0.8rem;
          font-weight: 100;
        }
        &:hover {
          background-color: #e1cfc2;
        }
      }
    }
  }
}

#challenge-7 {
  .frame {
    background-color: #264057;
    // text color #666666
    // text hover #5F98CD
    // menu icon color #B2DAFF
    // menu behind bgc #43627D
    // menu behing color:#93B2CD
  }
  .container {
    width: 300px;
    height: 300px;
    @include border-radius(5px);
    overflow: hidden;
    position: relative;
    .menu {
      @include border-radius(5px 0 0 5px);
      position: absolute;
      height: 90%;
      top: 5%;
      left: 50%;
      width: 150px;
      background-color: #43627d;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 10px;
      @include transition(all 0.5s ease);
      .menu-links {
        color: #93b2cd;
        text-decoration: none;
        font-size: 0.8rem;
        padding: 10px;
        @include transition(all 0.3s ease);
        i {
          font-size: 0.9rem;
          padding-right: 5px;
        }
        &:hover {
          background-color: #385269;
          color: #fff;
        }
      }
    }
    .menu-active {
      left: 0;
    }

    .notifications {
      width: 100%;
      height: 100%;
      background-color: #fff;
      @include transition(all 0.5s ease);
      @include transform(translateX(0));
      .notification-header {
        width: 100%;
        height: 60px;
        background-color: #5f98cd;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 15px;
        color: #fff;
        font-weight: 600;
        .search-icon {
          i {
            color: #b2daff;
            @include transition(all 0.2s ease);
          }
          .search:hover i {
            color: #fff;
          }
        }
        .search-input {
          @include border-radius(20px);
          @include transition(all 0.5s ease);
          border: none;
          position: absolute;
          height: 30px;
          width: 0;
          right: 50px;
          top: 15px;
        }
        .show-search {
          width: 80%;
          padding: 5px 10px;
        }
      }
      .list {
        height: calc(100% - 60px);
        margin-left: 20px;
        padding-left: 20px;
        padding-right: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        border-left: 2px solid #ebebeb;
        list-style-type: none;
        .list-item {
          color: #666666;
          font-size: 0.9rem;
          cursor: pointer;
          &::before {
            content: "";
            background-color: #fff;
            border: 2px solid #5f98cd;
            width: 12px;
            height: 12px;
            position: absolute;
            left: 15px;
            @include border-radius(50%);
          }
          &:hover {
            color: #5f98cd;
          }
          .time {
            font-size: 0.8rem;
            margin-top: -5px;
          }
        }
      }
    }
    .notification-move {
      @include transform(translateX(150px));
    }

    .menu-toggler {
      position: relative;
      cursor: pointer;
      .bar {
        position: absolute;
        width: 30px;
        height: 4px;
        @include border-radius(2px);
        background-color: #b2daff;
        @include transition(all 0.2s ease);
        &.bar-top {
          top: -5px;
          &:after {
            @include absolute($right: 0px, $top: -2px);
            content: "";
            width: 8px;
            height: 8px;
            @include border-radius(50%);
            outline: 2px solid #5f98cd;
            background-color: #b2daff;
            @include transition(all 0.2s ease);
          }
        }
        &.bar-bottom {
          top: 5px;
        }
      }
      &:hover .bar,
      &:hover .bar-top::after {
        background-color: #fff;
      }
    }
  }
}

#challenge-8 {
  .frame {
    background-color: #000;
  }
  .ball {
    background-color: #fff;
    position: relative;
    width: 100px;
    height: 100px;
    @include border-radius(50%);
  }
  @for $i from 1 through 10 {
    .small-ball-#{$i} {
      position: absolute;
      top: (random(50) + $i) + px;
      left: (random(50) + $i) + px;
      width: (10 + $i) + px;
      height: (10 + $i) + px;
      @include border-radius(50%);
      @include transform(rotate(random(300) + deg));
      &:after {
        content: "";
        width: (5 + $i) + px;
        height: (5 + $i) + px;
        position: absolute;
        background-color: #fff;
        @include border-radius(50%);
        @include animation(rotate 5s ease 0.5s infinite);
        transform-origin: 45px 45px;
      }
    }
  }
  @for $i from 1 through 5 {
    .medium-ball-#{$i} {
      position: absolute;
      top: (random(60) + $i) + px;
      left: (random(60) + $i) + px;
      width: (50 + $i) + px;
      height: (50 + $i) + px;
      @include border-radius(50%);
      @include transform(rotate(random(300) + deg));
      &:after {
        content: "";
        width: 40px;
        height: 40px;
        position: absolute;
        background-color: #fff;
        @include border-radius(50%);
        @include animation(rotate 5s ease 0.5s infinite);
        transform-origin: 30px 30px;
      }
    }
  }

  @keyframes rotate {
    from {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
    to {
      transform: rotate(360deg) translate3d(0, 0, 0);
    }
  }
}

#challenge-9 {
  .container {
    width: 400px;
    height: 400px;
  }
  .information {
    background-color: #fff;
    color: #1a2238;
    height: 100px;
    width: 100%;
    @include flex-center();
    justify-content: space-around;
    position: absolute;
    bottom: 0;
    padding: 0 20px;
    p {
      font-size: 3rem;
      font-weight: 300;
    }
    .info {
      p {
        font-size: 1rem;
        font-weight: 100;
        span {
          font-weight: 400;
        }
      }
    }
  }

  .scene {
    width: 100%;
    height: calc(100% - 100px);
    background-color: #1a2238;
    position: relative;

    .circle {
      background-color: #303c5d;
      @include border-radius(50%);
      &.small-circle {
        @include absolute($bottom: -100px, $left: -20px);
        width: 200px;
        height: 150px;
        &:nth-child(4) {
          @include absolute($bottom: -100px, $left: unset, $right: -80px);
        }
      }
      &.big-circle {
        @include absolute($bottom: -110px, $left: 100px);
        width: 250px;
        height: 200px;
      }
    }
    .circle-back {
      background-color: #26314f;
      @include border-radius(50%);
      @include absolute($bottom: -100px, $left: -20px);
      width: 300px;
      height: 200px;
      &.circle-back--1 {
        @include absolute($bottom: -100px, $left: unset, $right: -80px);
      }
    }

    .moon {
      width: 70px;
      height: 70px;
      @include border-radius(50%);
      @include absolute($top: 50px, $left: 50px);
      background-color: #f6edbd;
      box-shadow: 0 0 15px 0 #f6edbd;
      @include animation(moon-rise 2s ease 1);
      .crater {
        @include absolute($top: 40px, $left: 40px);
        width: 15px;
        height: 15px;
        background-color: #ece1a8;
        @include border-radius(50%);
        &:after,
        &::before {
          content: "";
          background-color: #ece1a8;
          @include border-radius(50%);
        }
        &:after {
          width: 80%;
          height: 80%;
          @include absolute($top: -20px, $left: -20px);
        }
        &:before {
          width: 50%;
          height: 50%;
          @include absolute($top: 10px, $left: -20px);
        }
      }
    }
    @for $i from 1 through 14 {
      .rain-small-#{$i} {
        position: absolute;
        left: (random(350) + px);
        bottom: 0;
        width: 5px;
        height: 5px;
        border: 2px solid lightblue;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        background-color: lightblue;
        @include animation(fall linear 1s infinite);
        animation-duration: (random(2) + $i/4) + s;
        animation-fill-mode: both;
      }
      .rain-big-#{$i} {
        position: absolute;
        left: (random(350) + px);
        bottom: 0;
        width: 10px;
        height: 10px;
        border: 4px solid lightblue;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        background-color: lightblue;
        @include animation(fall linear infinite);
        animation-duration: (random(3) + $i/4) + s;
        animation-delay: 0.5s;
        animation-fill-mode: both;
      }
    }
  }

  @keyframes fall {
    0% {
      @include transform(translate3d(40px, -320px, 0) rotate(-20deg));
    }
    85% {
      @include transform(translate3d(0, 0, 0) scale(1, 1) rotate(15deg));
    }
    100% {
      @include transform(translate3d(0, 0, 0) scale(2, 0) rotate(0));
    }
  }

  @keyframes moon-rise {
    0% {
      @include transform(translate(-50px, 220px));
    }
    100% {
      @include transform(translate(0, 0));
    }
  }
}

#challenge-10 {
  .frame {
    background-color: #4c4c4c;
    // watch - #242424
    // border - 7px solid #3A3A3A;
    // spinner - #F85B5B
    //
    //
  }
  .watch {
    width: 250px;
    height: 250px;
    position: relative;
    background-color: #242424;
    @include border-radius(50%);
    border: 7px solid #3a3a3a;
    .spinner {
      position: absolute;
      width: 95%;
      height: 95%;
      top: 2.5%;
      left: 2.5%;
      @include border-radius(50%);
      border: 3px solid #f85b5b;
      background-color: #242424;
      // circle {
      //   stroke: #f85b5b;
      //   stroke-width: 3;
      //   fill: none;
      //   stroke-dasharray: 625;
      //   @include animation(spinner 5s linear infinite);
      //   transform-origin: center center;
      //   transform: rotate(-90deg);
      // }
    }
    .dots {
      position: absolute;
      width: 85%;
      height: 85%;
      top: 7.5%;
      left: 7.5%;
      background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='%23fff' stroke-width='5' stroke-dasharray='1%25%2c 6%25' stroke-dashoffset='0' stroke-linecap='butt'/%3e%3c/svg%3e");
      border-radius: 100px;
    }
    .content {
      width: 130px;
      height: 150px;
      @include absolute($left: 50px, $top: 40px);
      display: flex;
      flex-direction: column;
      @include flex-center();
      color: #fff;
      font-size: 0.9rem;
      .time {
        font-size: 2.2rem;
        font-weight: 700;
      }
      .heart {
        color: #f85b5b;
        font-size: 0.9rem;
        @include animation(beat 1s ease infinite);
        @include transition(all 1s ease);
      }
    }
  }
  @keyframes beat {
    0% {
      transform: scale(1);
    }
    35% {
      transform: scale(1.2);
    }
  }
}

#challenge-12 {
  .frame {
    background-color: #4cb6de;
    color: #fff;
    font-size: 1.4rem;
    // highlight -#286F8A
    // info -#286F8A
    .text {
      width: 320px;
      padding-top: 10px;
      margin: 0 auto;
      &:before {
        content: ",,";
        font-size: 15rem;
        @include absolute($top: -220px, $left: -40px);
        font-family: Arial, sans-serif;
        letter-spacing: -30px;
        opacity: 0.5;
      }
      .tooltip {
        display: block;
        width: 300px;
        height: 120px;
        position: absolute;
        top: -60px;
        @include transition(all 0.5s ease-in-out);
        @include transform(translate3d(0, -20px, 0));
        background-color: #286f8a;
        opacity: 0;
        visibility: hidden;

        &:after {
          content: "";
          width: 0;
          height: 0;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-top: 10px solid #286f8a;
          position: absolute;
          bottom: -10px;
          left: calc(50% - 10px);
        }
        .tooltip-header {
          width: 100%;
          padding-left: 10px;
          display: flex;
          justify-content: flex-start;
          background-color: #fff;
          font-size: 0.9rem;
          color: #286f8a;
          i {
            font-size: 1.2rem;
            padding-left: 10px;
            display: inline-block;
            color: #286f8a;
            &:hover {
              opacity: 0.7;
            }
          }
        }
        .text-desc {
          font-size: 0.9rem;
          padding: 5px;
        }
      }
      .highlighted {
        background-color: #286f8a;
        padding: 3px;
        cursor: pointer;
        &:hover .tooltip,
        &:focus .tooltip {
          opacity: 1;
          @include transform(translate3d(0, 0, 0));
          visibility: visible;
        }
      }
    }
    .author {
      font-style: italic;
      font-weight: 100;
      margin-top: 10px;
      padding-top: 20px;
    }
  }
}

#challenge-13 {
  .center {
    width: 100%;
    height: 100%;
  }
  .grid-container {
    display: grid;
    position: relative;
    width: 100%;
    height: 100%;
    gap: 10px;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
    grid-template-areas:
      "first second"
      "third fourth";
  }
  .grid-item {
    position: relative;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .overlay {
      @include absolute($top: 0, $left: 0);
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.3);
      opacity: 0;
      @include transition(opacity 0.7s ease);
      .plus {
        width: 50px;
        height: 50px;
        background-color: #ec6565;
        @include border-radius(50%);
        position: absolute;
        top: calc(50% - 25px);
        left: calc(50% - 25px);
        @include transition(all 0.7s ease);
        cursor: pointer;
        &:after {
          content: "+";
          font-size: 1.7rem;
          color: #fff;
          @include centerer();
        }
      }
    }
    &:hover .overlay {
      opacity: 1;
    }
    &:hover .overlay .plus {
      @include animation(animate-plus 0.7s ease);
    }
  }

  .detail-item {
    position: absolute;
    width: 100%;
    height: 0;
    visibility: hidden;
    opacity: 0;
    background-color: #ec6565;
    display: flex;
    flex-direction: column;
    @include transition(all 0.7s ease);
    .background-section {
      width: 100%;
      height: 50%;
      background-image: url("https://100dayscss.com/codepen/13-1-header.jpg");
      background-size: cover;

      .x-button {
        @include absolute($right: -50px, $top: 10px);
        width: 40px;
        height: 40px;
        @include border-radius(50%);
        background-color: #ec6565;
        cursor: pointer;
        @include transition(all 0.7s ease);
        &:after {
          content: "✕";
          font-size: 1rem;
          color: #fff;
          @include centerer();
        }
        &:hover {
          background-color: #fff;
          &:after {
            color: #ec6565;
          }
        }
      }
    }
    .details-section {
      width: 100%;
      height: 50%;
      position: relative;
      padding-top: 60px;
      text-align: center;
      @include transition(all 0.7s ease);

      .profile-image {
        position: absolute;
        top: -500px;
        left: calc(50% - 50px);
        width: 100px;
        height: 100px;
        border: 2px solid #fff;
        background-image: url("https://100dayscss.com/codepen/13-1.jpg");
        background-size: cover;
        @include border-radius(50%);
        @include transition(all 0.7s ease);
      }
      p {
        font-size: 1.2rem;
        color: #fff;
      }
      .social {
        display: flex;
        justify-content: center;
        column-gap: 25px;
        padding-top: 20px;
        i {
          font-size: 3rem;
          cursor: pointer;
          &:hover {
            opacity: 0.7;
          }
        }
      }
    }

    &.active {
      visibility: visible;
      height: 100%;
      opacity: 1;
      .x-button {
        right: 10px;
      }

      .profile-image {
        top: -50px;
      }
    }
  }

  @keyframes animate-plus {
    0% {
      @include transform(scale(2));
    }
    100% {
      @include transform(scale(1));
    }
  }
}
